body {
    width: 100%;
    font-size: 12px;
    font-family: 'Open Sans Condensed', "Helvetia", sans-serif;
}

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    width: 100%;
    text-align: center;
}

.chart-type {
    margin-top: 20px;
}
.chart-type label {
    margin-left: 10px;
    margin-right: 10px;
}

.bubble {
    display: inline-block;
    fill-opacity: 0.5;
    fill: rgb(31, 119, 180);
    stroke-width: 2px;
    stroke-opacity: .8;
}

.plot {
    text-align: center;
}

.axis text {
    font-size: 12px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}
rect {
    fill: #fff;
}

.xy-val {
    padding: 10px;
}
.xy-val div,
.xy-type div {
    display: inline-block;
    padding-right: 20px;
}

.for-bar div {
    padding-top: 20px;
    padding-right: 20px;
    display: inline-block;
}

.bar {
    display: inline-block;
    margin-right: 2px;
    opacity: .6;
}

.pulsars-table {
    margin-top: 20px;
    display: none;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.for-scatter .radius {
    display: inline-block;
}